.forecast {
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 15px 5px #000000; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    margin-top: 48px; */
}